body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

nav ul {
  display: flex;
  list-style-type: none;
  background: #333;
  padding: 0;
  margin: 0;
  justify-content: space-between;
}

nav ul li {
  margin: 15px;
  padding: 1em;
  background-color: rgb(90, 90, 90);
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 0;
  justify-content: center;
}

nav ul li a {
  color: white;
  font-size: large;
  font-weight: bold;
  text-decoration: none;
}

nav ul li a:hover{
  color: rgb(143, 143, 143);
}

.logout{
  background-color: rgb(90, 90, 90);
  font-size: large;
  font-weight: bold;
}

.logout:hover{
  color: rgb(143, 143, 143);
  background-color: rgb(90, 90, 90);
}

.note {
  border: 1px solid #ccc;
  margin: 1em;
  padding: 1em;
  border-radius: 5px;  
}

.note-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form input, form textarea {  
  padding: 0.5em;
  width: 300px;
}

.form button {
  padding: 0.5em 1em;
}
